* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: blanchedalmond;
}

.container {
  margin: auto;
  max-width: 75rem;
  display: flex;
  flex-wrap: wrap;
}
.container .card {
  height: 12.5rem;
  width: 12.5rem;
  border: 1px solid green;
  margin: 1.25rem 1.25rem;
  text-align: center;
  background-color: black;
}
.container .card h5 {
  color: red;
}
.container .card p {
  color: white;
}
.container .card p.blue {
  color: blue;
}
.container .card p.gold {
  color: gold;
}
.container .card a {
  text-decoration: none;
}